<!doctype html>
<form class="form-horizontal" method="post">
    {% include "importer/menu.html" %}
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="csv_path">CSV path(*)</label>  
            <div class="col-md-4">
            <input id="csv_path" name="csv_path" type="text" placeholder="Select CSV path" class="form-control input-md" required="">
            <span class="help-block">Select the location of the folder where devices.csv and content.csv is located</span>  
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="delimiter">Delimiter</label>
            <div class="col-md-4">
                <select id="delimiter" name="delimiter" class="form-control">
                    <option value=",">,</option>
                    <option value=";">;</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="importbutton"></label>
            <div class="col-md-4">
                <button id="importbutton" name="importbutton" class="btn btn-primary">Import</button>
            </div>
        </div>

        {% if imported %}
        <div class="form-group">
            <label class="col-md-4" ></label>
            <div class="col-md-4 alert alert-success">
                {{ imported|linebreaksbr }}
            </div>
        </div>
        {% endif %} 

        {% if errors %}
        <div class="form-group">
            <label class="col-md-4" ></label>
            <div class="col-md-4 alert alert-warning">
                {{ errors|linebreaksbr }}
            </div>
        </div>
        {% endif %}   

    </fieldset>
</form>
